@{
ViewData["Title"] = "Contato";
}

<div class="container-fluid painel1">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-lg-3 g-3 py-4">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-dark bg-light rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                        <input type="tel" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Deixe sua mensagem</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">Enviar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-dark bg-light rounded-5 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.700475614371!2d-46.64475238554362!3d-23.543273066808506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce591fcf05555b%3A0x5527c6d04a85f0c1!2zUHJhw6dhIGRhIFJlcMO6YmxpY2E!5e0!3m2!1sen!2sbr!4v1639528336391!5m2!1sen!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <img src="/images/gps.png" width="50px" id="imgGps" />
                    <h3 class="fw-bold">Onde estamos</h3>
                    <p>Rua Lorem Ipsum, 13</p>
                    <p>Centro - São Paulo/SP</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>