@{
    ViewData["Title"] = "Promoções";
}

<div class="painel1 container-fluid">
    <div id="boxCards">
        <div class="cards">
            <img src="/images/places/porto-de-galinhas.jpg">
            <hr>
            <h4>Porto de Galinhas</h4>
            <p>4 ou 7 diárias</p>
            <h6>&#x2714; Passagem Aérea</h6>
            <h6>&#x2714; Quarto</h6>
            <br>     
            <p>a partir de <span>R$ 1165</span></p>
            <h3>R$ 699</h3>
            <p>+ taxas | até 12x no cartão</p>
            <h6>Cancelamento Grátis!</h6>
            <button class="btn btn-primary">Comprar</button>
        </div>
        <div class="cards">
            <img src="/images/places/orlando.jpg">
            <hr>
            <h4>Orlando</h4>
            <p>11 diárias</p>
            <h6>&#x2714; Passagem Aérea</h6>
            <h6>&#x2714; Quarto</h6>
            <br>
            <p>a partir de <span>R$ 12555</span></p>
            <h3>R$ 9999</h3>
            <p>+ taxas | até 12x no cartão</p>
            <h6>Cancelamento Grátis!</h6>
            <button class="btn btn-primary">Comprar</button>
        </div>
        <div class="cards">
            <img src="/images/places/foz.jpg">
            <hr>
            <h4>Foz do Iguaçu</h4>
            <p>4 ou 7 diárias</p>
            <h6>&#x2714; Passagem Aérea</h6>
            <h6>&#x2714; Quarto</h6>
            <br>               
            <p>a partir de <span>R$ 940</span></p>
            <h3>R$ 599</h3>
            <p>+ taxas | até 12x no cartão</p>
            <h6>Cancelamento Grátis!</h6>
            <button class="btn btn-primary">Comprar</button>
        </div>
        <div class="cards">
            <img src="/images/places/vancouver.jpg">
            <hr>
            <h4>Vancouver</h4>
            <p>7 diárias</p>
            <h6>&#x2714; Passagem Aérea</h6>
            <h6>&#x2714; Quarto</h6>
            <br>
            <p>a partir de <span>R$ 12995</span></p>
            <h3>R$ 10999</h3>
            <p>+ taxas | até 12x no cartão</p>
            <h6>Cancelamento Grátis!</h6>
            <button class="btn btn-primary">Comprar</button>
        </div>
        <div class="cards">
            <img src="/images/places/salvador.jpg">
            <hr>
            <h4>Salvador</h4>
            <p>4 ou 7 diárias</p>
            <h6>&#x2714; Passagem Aérea</h6>
            <h6>&#x2714; Quarto</h6>
            <br>
            <p>a partir de <span>R$ 2555</span></p>
            <h3>R$ 1999</h3>
            <p>+ taxas | até 12x no cartão</p>
            <h6>Cancelamento Grátis!</h6>
            <button class="btn btn-primary">Comprar</button>
        </div>
        <div class="cards">
            <img src="/images/places/recife.jpg">
            <hr>
            <h4>Recife</h4>
            <p>4 ou 7 diárias</p>
            <h6>&#x2714; Passagem Aérea</h6>
            <h6>&#x2714; Quarto</h6>
            <br>
            <p>a partir de <span>R$ 1555</span></p>
            <h3>R$ 999</h3>
            <p>+ taxas | até 12x no cartão</p>
            <h6>Cancelamento Grátis!</h6>
            <button class="btn btn-primary">Comprar</button>
        </div>
    </div>
</div>

<!--CSS DA IMG EM STYLEPROMOS.CSS -->
<div class="painel4 container-fluid cupom" >
    <img src="/images/cupom.png" id="cupom" alt="Cupom de desconto">
</div>

<!-- CONTINUAÇÃO CARDS -->
<div class="painel1 container-fluid">
    <div id="boxCards">
        <div class="cards">
            <img src="/images/places/lisboa.jpg">
            <hr>
            <h4>Lisboa</h4>
            <p>15 diárias</p>
            <h6>&#x2714; Passagem Aérea</h6>
            <h6>&#x2714; Quarto</h6>
            <br>
            <p>a partir de <span>R$ 22555</span></p>
            <h3>R$ 18999</h3>
            <p>+ taxas | até 12x no cartão</p>
            <h6>Cancelamento Grátis!</h6>
            <button class="btn btn-primary">Comprar</button>
        </div>
        <div class="cards">
            <img src="/images/places/morro-de-sp.png">
            <hr>
            <h4>Morro de São Paulo</h4>
            <p>4 ou 7 diárias</p>
            <h6>&#x2714; Passagem Aérea</h6>
            <h6>&#x2714; Quarto</h6>
            <br>
            <p>a partir de <span>R$ 2899</span></p>
            <h3>R$ 2399</h3>
            <p>+ taxas | até 12x no cartão</p>
            <h6>Cancelamento Grátis!</h6>
            <button class="btn btn-primary">Comprar</button>
        </div>
        <div class="cards">
            <img src="/images/places/praia-da-pipa.png">
            <hr>
            <h4>Praia da Pipa</h4>
            <p>4 ou 7 diárias</p>
            <h6>&#x2714; Passagem Aérea</h6>
            <h6>&#x2714; Quarto</h6>
            <br>
            <p>a partir de <span>R$ 2499</span></p>
            <h3>R$ 1999</h3>
            <p>+ taxas | até 12x no cartão</p>
            <h6>Cancelamento Grátis!</h6>
            <button class="btn btn-primary">Comprar</button>
        </div>
        <div class="cards">
            <img src="/images/places/buenos-aires.jpg">
            <hr>
            <h4>Buenos Aires</h4>
            <p>7 diárias</p>
            <h6>&#x2714; Passagem Aérea</h6>
            <h6>&#x2714; Quarto</h6>
            <br>
            <p>a partir de <span>R$ 3599</span></p>
            <h3>R$ 2799</h3>
            <p>+ taxas | até 12x no cartão</p>
            <h6>Cancelamento Grátis!</h6>
            <button class="btn btn-primary">Comprar</button>
        </div>
        <div class="cards">
            <img src="/images/places/jericoacoara.png">
            <hr>
            <h4>Jericoacoara</h4>
            <p>4 ou 7 diárias</p>
            <h6>&#x2714; Passagem Aérea</h6>
            <h6>&#x2714; Quarto</h6>
            <br>
            <p>a partir de <span>R$ 2759</span></p>
            <h3>R$ 2199</h3>
            <p>+ taxas | até 12x no cartão</p>
            <h6>Cancelamento Grátis!</h6>
            <button class="btn btn-primary">Comprar</button>
        </div>
        <div class="cards">
            <img src="/images/places/trancoso.png">
            <hr>
            <h4>Trancoso</h4>
            <p>4 ou 7 diárias</p>
            <h6>&#x2714; Passagem Aérea</h6>
            <h6>&#x2714; Quarto</h6>
            <br>
            <p>a partir de <span>R$ 1789</span></p>
            <h3>R$ 1299</h3>
            <p>+ taxas | até 12x no cartão</p>
            <h6>Cancelamento Grátis!</h6>
            <button class="btn btn-primary">Comprar</button>
        </div>
    </div>
</div>


